:root{
    --mainTextColor-light:#0d1117;
    --secondaryTextColor-light:rgb(60, 64, 70);
    --mainLinkColor-light:#0a8aa0;
    --mainBorderColor-light:rgb(220, 224, 228);
    --cardBgColor-light:#ffffff;
    --mainBgColor-light:rgb(249, 250, 251);
    --accentColor-light:rgba(10, 138, 160, 0.08);

    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --cardBgColor:var(--cardBgColor-light);
    --mainBgColor:var(--mainBgColor-light);
    --accentColor:var(--accentColor-light);
}
